*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
*.jks
*.keystore
keystore.properties
tools/tracker/tracker.db
tools/tracker/tracker.db-wal
tools/tracker/tracker.db-shm
